<nav class="right-panel-global">
    <ul class="right-panel-gnav">
      <li>
          <a href="{% url 'signup' %}" class="item-link close-panel item-content online">
              <!--<div class="item-media">
                  <span>
                      <img src="assets/img/tmp/ava1.jpg" alt="">
                      <i class="fa fa-envelope"></i>
                  </span>
              </div>-->
              <div class="item-inner">
                  <div class="item-title-row">
                      <div class="item-title">ユーザー登録</div>
                  </div>
                  <!--<div class="item-subtitle">ONLINE</div>-->
              </div>
          </a>
      </li>
      <li>
          <a href="{% url 'signin' %}" class="item-link close-panel item-content">
                <!--<div class="item-media">
                    <span>
                        <img src="assets/img/tmp/ava-demo.jpg" alt="">
                    </span>
                </div>-->
                <div class="item-inner">
                    <div class="item-title-row">
                        <div class="item-title">ログイン</div>
                    </div>
                    <!--<div class="item-subtitle">1h ago</div>-->
                </div>
            </a>
        </li>
        <li>
            <a href="{% url 'signout' %}" class="item-link close-panel item-content">
                  <!--<div class="item-media">
                      <span>
                          <img src="assets/img/tmp/ava-demo.jpg" alt="">
                      </span>
                  </div>-->
                  <div class="item-inner">
                      <div class="item-title-row">
                          <div class="item-title">ログアウト</div>
                      </div>
                      <!--<div class="item-subtitle">1h ago</div>-->
                  </div>
              </a>
          </li>
        <!--<li>
            <a href="" class="item-link close-panel item-content">
                <div class="item-media">
                    <span>
                        <img src="assets/img/tmp/ava2.jpg" alt="">
                    </span>
                </div>
                <div class="item-inner">
                    <div class="item-title-row">
                        <div class="item-title">Ala C.</div>
                    </div>
                    <div class="item-subtitle">1min ago</div>
                </div>
            </a>
        </li>
        <li>
            <a href="" class="item-link close-panel item-content">
                <div class="item-media">
                    <span>
                        <img src="assets/img/tmp/ava5.jpg" alt="">
                        <i class="fa fa-envelope"></i>
                    </span>
                </div>
                <div class="item-inner">
                    <div class="item-title-row">
                        <div class="item-title">Su K.</div>
                    </div>
                    <div class="item-subtitle">12.12.2012</div>
                </div>
            </a>
        </li>
        <li>
            <a href="" class="item-link close-panel item-content online">
                <div class="item-media">
                    <span>
                        <img src="assets/img/tmp/ava3.jpg" alt="">
                    </span>
                </div>
                <div class="item-inner">
                    <div class="item-title-row">
                        <div class="item-title">Mike F.</div>
                    </div>
                    <div class="item-subtitle">ONLINE</div>
                </div>
            </a>
        </li>-->

    </ul>
</nav>
