<nav class="left-panel-global">
    <ul class="left-panel-gnav">
        <li class="divider">
            メニュー
        </li>
        <li>
            <a href="{% url 'index' %}" class="item-link close-panel item-content">
                <div class="item-media">
                    <i class="fa fa-home"></i>
                </div>
                <div class="item-inner">
                    <div class="item-title">ホーム</div>
                </div>
            </a>
        </li>
        <li>
            <a href="{% url 'ranking' %}" class="item-link close-panel item-content">
                <div class="item-media">
                    <i class="fa fa-trophy"></i>
                </div>
                <div class="item-inner">
                    <div class="item-title">民泊地域ランキング</div>
                </div>
            </a>
        </li>
        <li>
            <a href="{% url 'prefectures' %}" class="item-link close-panel item-content">
                <div class="item-media">
                    <i class="fa fa-area-chart"></i>
                </div>
                <div class="item-inner">
                    <div class="item-title">民泊向け都道府県一覧</div>
                </div>
            </a>
        </li>
        <!--<li>
            <a href="ac_site/news_release.html" class="item-link close-panel item-content">
                <div class="item-media">
                    <i class="fa fa-newspaper-o"></i>
                </div>
                <div class="item-inner">
                    <div class="item-title">みんなの民泊日記</div>
                </div>
            </a>
        </li>-->
        <li>
            <a href="{% url 'contact' %}" class="item-link close-panel item-content">
                <div class="item-media">
                    <i class="fa fa-envelope-o"></i>
                </div>
                <div class="item-inner">
                    <div class="item-title">お問い合わせ</div>
                </div>
            </a>
        </li>
        <li class="divider">
            ソーシャルメディア
        </li>
        <li>
            <a href="twitter.html" class="item-link close-panel item-content">
                <div class="item-media">
                    <i class="fa fa-twitter"></i>
                </div>
                <div class="item-inner">
                    <div class="item-title">Twitter</div>
                </div>
            </a>
        </li>
    </ul>
</nav>