<div class="content-block content-light">
    <div class="content-wew">
        <h3 class="header-2"><span>ソーシャルメディア</span></h3>
        <p></p>

        <div class="social-buttons mb-15">
            <a href="#" class="kkicon-twitter"><i class="fa fa-twitter"></i></a>
            <a href="#" class="kkicon-facebook"><i class="fa fa-facebook"></i></a>
            <!--<a href="#" class="kkicon-pinterest"><i class="fa fa-pinterest"></i></a>-->
            <a href="#" class="kkicon-linkedin"><i class="fa fa-linkedin"></i></a>
            <!--<a href="#" class="kkicon-gplus"><i class="fa fa-google-plus"></i></a>-->
            <!--<a href="#" class="kkicon-flickr"><i class="fa fa-flickr"></i></a>-->
        </div>
    </div>
</div>