<div class="content-block content-light">
    <div class="content-wew">
        <h3 class="header-2"><span>利用シーン</span></h3>

        <p>holidasは様々なシーンであなたをサポートします。以下のアンケート結果は我々のお客様がholidasを活用した利用シーンを抜粋したものです。</p>

        <div class="progress-box progress-green indicating" data-percent="75">
            <div class="bar" style="transition-duration: 300ms; width: 95%;">
                <div class="progress">95%</div>
            </div>
            <div class="label">進出地域を全国から探す</div>
        </div>
        <div class="progress-box progress-green indicating" data-percent="75">
            <div class="bar" style="transition-duration: 300ms; width: 90%;">
                <div class="progress">90%</div>
            </div>
            <div class="label">ターゲット顧客を特定する</div>
        </div>
        <div class="progress-box progress-green indicating" data-percent="75">
            <div class="bar" style="transition-duration: 300ms; width: 88%;">
                <div class="progress">88%</div>
            </div>
            <div class="label">ゲストハウスの運営方針を決める</div>
        </div>

        <ul>
          <li>全国の都道府県のレーティング情報を提供しているので、全国から民泊に最適な地域を探すことができます。</li>
          <li>各都道府県で民泊を利用している外国人数も収集していますので、ターゲット顧客を特定する際にも活用できます。</li>
          <li>民泊物件のリアルタイム情報から他物件の状況を予測できるので、ゲストハウスの運営方針を決める際に活用できます。</li>
        </ul>
    </div>
</div>
