<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="link icon-only open-panel">
                <span class="kkicon icon-menu"></span>
            </a>
        </div>
        <div class="center sliding">地域一覧</div>
        <div class="right">
            <!--<a href="#" class="link icon-only open-panel" data-panel="right">
                <span class="kkicon icon-alarm"></span>
            </a>-->
        </div>
    </div>
</div>

<div class="view another-view">
    <!-- Pages -->
    <div class="pages">
        <div class="page no-toolbar" data-page="features">
            <div class="page-content">

                <div class="list-block media-list">
                    <ul>

                        <!--<li>
                            <a href="#" data-popup=".popup-splash" class="open-popup item-link item-content">
                                <div class="item-media">
                                    <div class="card-header no-border item-content-icon item-content-icon-slider"></div>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">
                                            App update info
                                        </div>
                                    </div>
                                    <div class="item-subtitle">
                                        Cool app update slider!
                                    </div>
                                </div>
                            </a>
                        </li>-->
                        <ul>
                        {% for pref in latest_pref_list %}
                            <li><a href="ac_site/{{ pref.pf_id }}/">{{ pref.pref }}</a></li>
                        {% endfor %}
                        </ul>
                        {% for pref in latest_pref_list %}
                            <li>
                                <a href="gallery.html?pf_id={{ pref.pf_id }}" class="item-link item-content">
                                    <div class="item-media">
                                        <div class="card-header no-border item-content-icon item-content-icon-gallery"></div>
                                    </div>
                                    <div class="item-inner">
                                        <div class="item-title-row">
                                            <div class="item-title">
                                                {{ pref.pref }}
                                            </div>
                                        </div>
                                        <div class="item-subtitle">
                                            <!--3 columns layout-->
                                        </div>
                                    </div>
                                </a>
                            </li>
                        {% endfor %}
                        <li>
                            <a href="gallery.html" class="item-link item-content">
                                <div class="item-media">
                                    <div class="card-header no-border item-content-icon item-content-icon-gallery"></div>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">
                                            北海道
                                        </div>
                                    </div>
                                    <div class="item-subtitle">
                                        <!--3 columns layout-->
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="gallery.html" class="item-link item-content">
                                <div class="item-media">
                                    <div class="card-header no-border item-content-icon item-content-icon-gallery"></div>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">
                                            青森
                                        </div>
                                    </div>
                                    <div class="item-subtitle">
                                        <!--3 columns layout-->
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="gallery.html" class="item-link item-content">
                                <div class="item-media">
                                    <div class="card-header no-border item-content-icon item-content-icon-gallery"></div>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">
                                            岩手
                                        </div>
                                    </div>
                                    <div class="item-subtitle">
                                        <!--3 columns layout-->
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="gallery.html" class="item-link item-content">
                                <div class="item-media">
                                    <div class="card-header no-border item-content-icon item-content-icon-gallery"></div>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">
                                            宮城
                                        </div>
                                    </div>
                                    <div class="item-subtitle">
                                        <!--3 columns layout-->
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="gallery.html" class="item-link item-content">
                                <div class="item-media">
                                    <div class="card-header no-border item-content-icon item-content-icon-gallery"></div>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">
                                            秋田
                                        </div>
                                    </div>
                                    <div class="item-subtitle">
                                        <!--3 columns layout-->
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="gallery.html" class="item-link item-content">
                                <div class="item-media">
                                    <div class="card-header no-border item-content-icon item-content-icon-gallery"></div>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">
                                            山形
                                        </div>
                                    </div>
                                    <div class="item-subtitle">
                                        <!--3 columns layout-->
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="gallery.html" class="item-link item-content">
                                <div class="item-media">
                                    <div class="card-header no-border item-content-icon item-content-icon-gallery"></div>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">
                                            福島
                                        </div>
                                    </div>
                                    <div class="item-subtitle">
                                        <!--3 columns layout-->
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="gallery.html" class="item-link item-content">
                                <div class="item-media">
                                    <div class="card-header no-border item-content-icon item-content-icon-gallery"></div>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">
                                            茨城
                                        </div>
                                    </div>
                                    <div class="item-subtitle">
                                        <!--3 columns layout-->
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="gallery.html" class="item-link item-content">
                                <div class="item-media">
                                    <div class="card-header no-border item-content-icon item-content-icon-gallery"></div>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">
                                            栃木
                                        </div>
                                    </div>
                                    <div class="item-subtitle">
                                        <!--3 columns layout-->
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="gallery.html" class="item-link item-content">
                                <div class="item-media">
                                    <div class="card-header no-border item-content-icon item-content-icon-gallery"></div>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">
                                            群馬
                                        </div>
                                    </div>
                                    <div class="item-subtitle">
                                        <!--3 columns layout-->
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="gallery.html" class="item-link item-content">
                                <div class="item-media">
                                    <div class="card-header no-border item-content-icon item-content-icon-gallery"></div>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">
                                            埼玉
                                        </div>
                                    </div>
                                    <div class="item-subtitle">
                                        <!--3 columns layout-->
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="gallery.html" class="item-link item-content">
                                <div class="item-media">
                                    <div class="card-header no-border item-content-icon item-content-icon-gallery"></div>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">
                                            千葉
                                        </div>
                                    </div>
                                    <div class="item-subtitle">
                                        <!--3 columns layout-->
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="gallery.html" class="item-link item-content">
                                <div class="item-media">
                                    <div class="card-header no-border item-content-icon item-content-icon-gallery"></div>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">
                                            東京
                                        </div>
                                    </div>
                                    <div class="item-subtitle">
                                        <!--3 columns layout-->
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="gallery.html" class="item-link item-content">
                                <div class="item-media">
                                    <div class="card-header no-border item-content-icon item-content-icon-gallery"></div>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">
                                            神奈川
                                        </div>
                                    </div>
                                    <div class="item-subtitle">
                                        <!--3 columns layout-->
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="gallery.html" class="item-link item-content">
                                <div class="item-media">
                                    <div class="card-header no-border item-content-icon item-content-icon-gallery"></div>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">
                                            新潟
                                        </div>
                                    </div>
                                    <div class="item-subtitle">
                                        <!--3 columns layout-->
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="gallery.html" class="item-link item-content">
                                <div class="item-media">
                                    <div class="card-header no-border item-content-icon item-content-icon-gallery"></div>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">
                                            富山
                                        </div>
                                    </div>
                                    <div class="item-subtitle">
                                        <!--3 columns layout-->
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="gallery.html" class="item-link item-content">
                                <div class="item-media">
                                    <div class="card-header no-border item-content-icon item-content-icon-gallery"></div>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">
                                            石川
                                        </div>
                                    </div>
                                    <div class="item-subtitle">
                                        <!--3 columns layout-->
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="gallery.html" class="item-link item-content">
                                <div class="item-media">
                                    <div class="card-header no-border item-content-icon item-content-icon-gallery"></div>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">
                                            福井
                                        </div>
                                    </div>
                                    <div class="item-subtitle">
                                        <!--3 columns layout-->
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="gallery.html" class="item-link item-content">
                                <div class="item-media">
                                    <div class="card-header no-border item-content-icon item-content-icon-gallery"></div>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">
                                            山梨
                                        </div>
                                    </div>
                                    <div class="item-subtitle">
                                        <!--3 columns layout-->
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="gallery.html" class="item-link item-content">
                                <div class="item-media">
                                    <div class="card-header no-border item-content-icon item-content-icon-gallery"></div>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">
                                            長野
                                        </div>
                                    </div>
                                    <div class="item-subtitle">
                                        <!--3 columns layout-->
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="gallery.html" class="item-link item-content">
                                <div class="item-media">
                                    <div class="card-header no-border item-content-icon item-content-icon-gallery"></div>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">
                                            岐阜
                                        </div>
                                    </div>
                                    <div class="item-subtitle">
                                        <!--3 columns layout-->
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="gallery.html" class="item-link item-content">
                                <div class="item-media">
                                    <div class="card-header no-border item-content-icon item-content-icon-gallery"></div>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">
                                            静岡
                                        </div>
                                    </div>
                                    <div class="item-subtitle">
                                        <!--3 columns layout-->
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="gallery.html" class="item-link item-content">
                                <div class="item-media">
                                    <div class="card-header no-border item-content-icon item-content-icon-gallery"></div>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">
                                            愛知
                                        </div>
                                    </div>
                                    <div class="item-subtitle">
                                        <!--3 columns layout-->
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="gallery.html" class="item-link item-content">
                                <div class="item-media">
                                    <div class="card-header no-border item-content-icon item-content-icon-gallery"></div>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">
                                            三重
                                        </div>
                                    </div>
                                    <div class="item-subtitle">
                                        <!--3 columns layout-->
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="gallery.html" class="item-link item-content">
                                <div class="item-media">
                                    <div class="card-header no-border item-content-icon item-content-icon-gallery"></div>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">
                                            滋賀
                                        </div>
                                    </div>
                                    <div class="item-subtitle">
                                        <!--3 columns layout-->
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="gallery.html" class="item-link item-content">
                                <div class="item-media">
                                    <div class="card-header no-border item-content-icon item-content-icon-gallery"></div>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">
                                            京都
                                        </div>
                                    </div>
                                    <div class="item-subtitle">
                                        <!--3 columns layout-->
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="gallery.html" class="item-link item-content">
                                <div class="item-media">
                                    <div class="card-header no-border item-content-icon item-content-icon-gallery"></div>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">
                                            大阪
                                        </div>
                                    </div>
                                    <div class="item-subtitle">
                                        <!--3 columns layout-->
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="gallery.html" class="item-link item-content">
                                <div class="item-media">
                                    <div class="card-header no-border item-content-icon item-content-icon-gallery"></div>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">
                                            兵庫
                                        </div>
                                    </div>
                                    <div class="item-subtitle">
                                        <!--3 columns layout-->
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="gallery.html" class="item-link item-content">
                                <div class="item-media">
                                    <div class="card-header no-border item-content-icon item-content-icon-gallery"></div>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">
                                            奈良
                                        </div>
                                    </div>
                                    <div class="item-subtitle">
                                        <!--3 columns layout-->
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="gallery.html" class="item-link item-content">
                                <div class="item-media">
                                    <div class="card-header no-border item-content-icon item-content-icon-gallery"></div>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">
                                            和歌山
                                        </div>
                                    </div>
                                    <div class="item-subtitle">
                                        <!--3 columns layout-->
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="gallery.html" class="item-link item-content">
                                <div class="item-media">
                                    <div class="card-header no-border item-content-icon item-content-icon-gallery"></div>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">
                                            鳥取
                                        </div>
                                    </div>
                                    <div class="item-subtitle">
                                        <!--3 columns layout-->
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="gallery.html" class="item-link item-content">
                                <div class="item-media">
                                    <div class="card-header no-border item-content-icon item-content-icon-gallery"></div>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">
                                            島根
                                        </div>
                                    </div>
                                    <div class="item-subtitle">
                                        <!--3 columns layout-->
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="gallery.html" class="item-link item-content">
                                <div class="item-media">
                                    <div class="card-header no-border item-content-icon item-content-icon-gallery"></div>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">
                                            岡山
                                        </div>
                                    </div>
                                    <div class="item-subtitle">
                                        <!--3 columns layout-->
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="gallery.html" class="item-link item-content">
                                <div class="item-media">
                                    <div class="card-header no-border item-content-icon item-content-icon-gallery"></div>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">
                                            広島
                                        </div>
                                    </div>
                                    <div class="item-subtitle">
                                        <!--3 columns layout-->
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="gallery.html" class="item-link item-content">
                                <div class="item-media">
                                    <div class="card-header no-border item-content-icon item-content-icon-gallery"></div>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">
                                            山口
                                        </div>
                                    </div>
                                    <div class="item-subtitle">
                                        <!--3 columns layout-->
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="gallery.html" class="item-link item-content">
                                <div class="item-media">
                                    <div class="card-header no-border item-content-icon item-content-icon-gallery"></div>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">
                                            徳島
                                        </div>
                                    </div>
                                    <div class="item-subtitle">
                                        <!--3 columns layout-->
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="gallery.html" class="item-link item-content">
                                <div class="item-media">
                                    <div class="card-header no-border item-content-icon item-content-icon-gallery"></div>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">
                                            香川
                                        </div>
                                    </div>
                                    <div class="item-subtitle">
                                        <!--3 columns layout-->
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="gallery.html" class="item-link item-content">
                                <div class="item-media">
                                    <div class="card-header no-border item-content-icon item-content-icon-gallery"></div>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">
                                            愛媛
                                        </div>
                                    </div>
                                    <div class="item-subtitle">
                                        <!--3 columns layout-->
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="gallery.html" class="item-link item-content">
                                <div class="item-media">
                                    <div class="card-header no-border item-content-icon item-content-icon-gallery"></div>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">
                                            高知
                                        </div>
                                    </div>
                                    <div class="item-subtitle">
                                        <!--3 columns layout-->
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="gallery.html" class="item-link item-content">
                                <div class="item-media">
                                    <div class="card-header no-border item-content-icon item-content-icon-gallery"></div>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">
                                            福岡
                                        </div>
                                    </div>
                                    <div class="item-subtitle">
                                        <!--3 columns layout-->
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="gallery.html" class="item-link item-content">
                                <div class="item-media">
                                    <div class="card-header no-border item-content-icon item-content-icon-gallery"></div>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">
                                            佐賀
                                        </div>
                                    </div>
                                    <div class="item-subtitle">
                                        <!--3 columns layout-->
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="gallery.html" class="item-link item-content">
                                <div class="item-media">
                                    <div class="card-header no-border item-content-icon item-content-icon-gallery"></div>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">
                                            長崎
                                        </div>
                                    </div>
                                    <div class="item-subtitle">
                                        <!--3 columns layout-->
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="gallery.html" class="item-link item-content">
                                <div class="item-media">
                                    <div class="card-header no-border item-content-icon item-content-icon-gallery"></div>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">
                                            熊本
                                        </div>
                                    </div>
                                    <div class="item-subtitle">
                                        <!--3 columns layout-->
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="gallery.html" class="item-link item-content">
                                <div class="item-media">
                                    <div class="card-header no-border item-content-icon item-content-icon-gallery"></div>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">
                                            大分
                                        </div>
                                    </div>
                                    <div class="item-subtitle">
                                        <!--3 columns layout-->
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="gallery.html" class="item-link item-content">
                                <div class="item-media">
                                    <div class="card-header no-border item-content-icon item-content-icon-gallery"></div>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">
                                            宮崎
                                        </div>
                                    </div>
                                    <div class="item-subtitle">
                                        <!--3 columns layout-->
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="gallery.html" class="item-link item-content">
                                <div class="item-media">
                                    <div class="card-header no-border item-content-icon item-content-icon-gallery"></div>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">
                                            鹿児島
                                        </div>
                                    </div>
                                    <div class="item-subtitle">
                                        <!--3 columns layout-->
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="gallery.html" class="item-link item-content">
                                <div class="item-media">
                                    <div class="card-header no-border item-content-icon item-content-icon-gallery"></div>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">
                                            沖縄
                                        </div>
                                    </div>
                                    <div class="item-subtitle">
                                        <!--3 columns layout-->
                                    </div>
                                </div>
                            </a>
                        </li>
                        <!-- <li>
                            <a href="news-list-1.html" class="item-link item-content">
                                <div class="item-media">
                                    <div class="card-header no-border item-content-icon item-content-icon-blog"></div>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">
                                            News
                                        </div>
                                    </div>
                                    <div class="item-subtitle">
                                        List of articles
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="tabs.html" class="item-link item-content">
                                <div class="item-media">
                                    <div class="card-header no-border item-content-icon item-content-icon-tabs"></div>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">
                                            Tabs
                                        </div>
                                    </div>
                                    <div class="item-subtitle">
                                        Responsive tabs
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="accordion.html" class="item-link item-content">
                                <div class="item-media">
                                    <div class="card-header no-border item-content-icon item-content-icon-accordion"></div>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">
                                            Accordion
                                        </div>
                                    </div>
                                    <div class="item-subtitle">
                                        Save a lot of space in your app layout
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#" data-picker=".picker-social" class="open-picker item-link item-content">
                                <div class="item-media">
                                    <div class="card-header no-border item-content-icon item-content-icon-share"></div>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">
                                            Social
                                        </div>
                                    </div>
                                    <div class="item-subtitle">
                                        Sharing is sexy!
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#" data-panel="right" class="open-panel item-link item-content">
                                <div class="item-media">
                                    <div class="card-header no-border item-content-icon item-content-icon-sidebar"></div>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">
                                            Right sidebar
                                        </div>
                                    </div>
                                    <div class="item-subtitle">
                                        With user profile
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="contact.html" class="item-link item-content">
                                <div class="item-media">
                                    <div class="card-header no-border item-content-icon item-content-icon-message"></div>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">
                                            Contact
                                        </div>
                                    </div>
                                    <div class="item-subtitle">
                                        Form sent by ajax. SMTP READY!
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#" data-popup=".popup-login" class="open-popup item-link item-content">
                                <div class="item-media">
                                    <div class="card-header no-border item-content-icon item-content-icon-login"></div>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">
                                            Popup login
                                        </div>
                                    </div>
                                    <div class="item-subtitle">
                                        Cool popup login!
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="settings.html" class="item-link item-content">
                                <div class="item-media">
                                    <div class="card-header no-border item-content-icon item-content-icon-settings"></div>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">
                                            Settings page
                                        </div>
                                    </div>
                                    <div class="item-subtitle">
                                        Sample of settings page
                                    </div>
                                </div>
                            </a>
                        </li>-->

                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>
