<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="link icon-only open-panel">
                <span class="kkicon icon-menu"></span>
            </a>
        </div>
        <div class="center sliding">運営会社</div>
        <div class="right">
            <!--<a href="#" class="link icon-only open-panel" data-panel="right">
                <span class="kkicon icon-alarm"></span>
            </a>-->
        </div>
    </div>
</div>

<div class="view another-view">
    <!-- Pages -->
    <div class="pages">
        <div class="page no-toolbar" data-page="accordion">
            <div class="page-content">
                <div class="content-block mb-15">
                    <div class="content-wew">

                        <!--<h3>Accordion elements</h3>-->

                        <!--<div class="accordion-list">
                            <div class="accordion-item">
                                <div class="accordion-item-toggle">
                                    Accordion Tab 1
                                </div>
                                <div class="accordion-item-content">
                                    Pellentesque malesuada sit amet, aliquam tellus augue, dictum enim. Duis ac nibh ac quam quam sagittis tortor. Cum sociis natoque penatibus et neque. Etiam dolor.
                                </div>
                            </div>
                            <div class="accordion-item accordion-item-expanded">
                                <div class="accordion-item-toggle">
                                    Accordion Tab 2
                                </div>
                                <div class="accordion-item-content">
                                    Fusce gravida, eros magna dolor, dictum sed, ullamcorper et, nonummy faucibus condimentum lorem id rutrum consectetuer lectus. Fusce ullamcorper libero vel blandit non, placerat nisl auctor quis, bibendum vel, hendrerit feugiat tortor at ipsum at sapien.
                                </div>
                            </div>
                            <div class="accordion-item">
                                <div class="accordion-item-toggle">
                                    Accordion Tab 3
                                </div>
                                <div class="accordion-item-content">
                                    Cras sit amet, libero. Duis eu mi. Pellentesque porta et, mollis tincidunt, orci ac ipsum. Integer tincidunt est pede
                                </div>
                            </div>
                        </div>-->


                        <h3>会社概要</h3>

                        <div class="accordion-item">
                            <div class="accordion-item-toggle">
                                社名
                            </div>
                            <div class="accordion-item-content">
                                <a href="http://wwww.logtre.com">ログトレ株式会社</a>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <div class="accordion-item-toggle">
                                所在地及び代表番号
                            </div>
                            <div class="accordion-item-content">
                                東京都港区東麻布1-7-3 第二渡邊ビル7F<br/>
                                050-5309-7463
                            </div>
                        </div>

                        <div class="accordion-item">
                            <div class="accordion-item-toggle">
                                設立日
                            </div>
                            <div class="accordion-item-content">
                                2016年8月
                            </div>
                        </div>

                        <div class="accordion-item">
                            <div class="accordion-item-toggle">
                                資本金
                            </div>
                            <div class="accordion-item-content">
                                300万円
                            </div>
                        </div>

                        <div class="accordion-item">
                            <div class="accordion-item-toggle">
                                代表者
                            </div>
                            <div class="accordion-item-content">
                                田口 翔一
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
