<!-- Picker -->
<div class="picker-modal picker-social">
    <div class="toolbar">
        <div class="toolbar-inner">
            <div class="left"></div>
            <div class="right"><a href="#" class="close-picker">done</a></div>
        </div>
    </div>
    <div class="picker-modal-inner">
        <div class="content-block mt-15 mb-10">
            <h3>Sharing is sexy!</h3>

            <p>Duis ac nibh ac quam quam sagittis tortor. Cum sociis natoque penatibus et neque.</p>

            <div class="social-buttons">
                <a href="#" class="kkicon-twitter"><i class="fa fa-twitter"></i></a>
                <a href="#" class="kkicon-facebook"><i class="fa fa-facebook"></i></a>
                <a href="#" class="kkicon-pinterest"><i class="fa fa-pinterest"></i></a>
                <a href="#" class="kkicon-linkedin"><i class="fa fa-linkedin"></i></a>
                <a href="#" class="kkicon-gplus"><i class="fa fa-google-plus"></i></a>
                <a href="#" class="kkicon-flickr"><i class="fa fa-flickr"></i></a>
            </div>
        </div>
    </div>
</div>