<div class="popup popup-splash">
    <div class="content-block">
        <a href="#" class="close-popup">
            スキップ
        </a>

        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide text-center">
                    <div class="slide-content">
                        <h2>Responsive</h2>

                        <h3>flexible layout</h3>
                        <img src="{% static '/ac_site/assets/img/tmp/slide1.png' %}" alt=""/>
                    </div>
                </div>
                <div class="swiper-slide text-center">
                    <div class="slide-content">
                        <h2>Very Detailed</h2>

                        <h3>20+ page templates</h3>
                        <img src="{% static '/ac_site/assets/img/tmp/slide2.png' %}" alt=""/>
                    </div>
                </div>
                <div class="swiper-slide text-center">
                    <div class="slide-content clearfix">
                        <h2>Call<br>Us Now</h2>

                        <h3>Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis.
                            Maecenas malesuada elit lectus felis, malesuada ultricies.</h3>
                        <a href="#" class="button mt-50 mb-20">Click to call!</a>
                    </div>
                </div>
            </div>
            <div class="bottom-color"></div>
            <div class="swiper-pagination"></div>
        </div>

    </div>
</div>