{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="views">
    <div class="view view-main">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="left">
                    <!--<a href="#" class="link icon-only open-panel">
                        <span class="kkicon icon-menu"></span>
                    </a>-->
                    <div class="left-panel-gnav-btn">
                        <div class="left-panel-icon-animation">
                            <span class="top"></span>
                            <span class="middle"></span>
                            <span class="bottom"></span>
                        </div>
                    </div>
                </div>
                <div class="center sliding">市区町村一覧</div>
                <div class="right">
                    <!--<a href="#" class="link icon-only open-panel" data-panel="right">
                        <span class="badge badge-secondary">2</span>
                        <span class="kkicon icon-star"></span>
                    </a>-->
                    <div class="right-panel-gnav-btn">
                          <span class="kkicon icon-star"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="view another-view">
            <!-- Pages -->
            <div class="pages">
                <div class="page no-toolbar" data-page="features">
                    <div class="page-content">

                        <div class="list-block media-list">
                            <ul>

                                <!--<li>
                                    <a href="#" data-popup=".popup-splash" class="open-popup item-link item-content">
                                        <div class="item-media">
                                            <div class="card-header no-border item-content-icon item-content-icon-slider"></div>
                                        </div>
                                        <div class="item-inner">
                                            <div class="item-title-row">
                                                <div class="item-title">
                                                    App update info
                                                </div>
                                            </div>
                                            <div class="item-subtitle">
                                                Cool app update slider!
                                            </div>
                                        </div>
                                    </a>
                                </li>-->
                                <li>
                                    <a href="{% url 'prefecture_show' region_id=latest_prefecture.id %}" class="item-link item-content">
                                        <div class="item-media">
                                            <div class="card-header no-border item-content-icon item-content-icon-gallery"></div>
                                        </div>
                                        <div class="item-inner">
                                            <div class="item-title-row">
                                                <div class="item-title">
                                                    {{ latest_prefecture.prefecture.prefecture_name }} 全体
                                                </div>
                                            </div>
                                            <div class="item-subtitle">
                                                <!--3 columns layout-->
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                {% for p in latest_region_list %}
                                    <li>
                                        <a href="{% url 'city_show' region_id=latest_prefecture.id region_city_id=p.id %}" class="item-link item-content">
                                            <div class="item-media">
                                                <div class="card-header no-border item-content-icon item-content-icon-gallery"></div>
                                            </div>
                                            <div class="item-inner">
                                                <div class="item-title-row">
                                                    <div class="item-title">
                                                        {{ p.city.city_name }}
                                                    </div>
                                                </div>
                                                <div class="item-subtitle">
                                                    <!--3 columns layout-->
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
