{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block content %}
<div class="views">
    <div class="view view-main">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="left">
                    <!--<a href="#" class="link icon-only open-panel">
                        <span class="kkicon icon-menu"></span>
                    </a>-->
                    <div class="left-panel-gnav-btn">
                        <div class="left-panel-icon-animation">
                            <span class="top"></span>
                            <span class="middle"></span>
                            <span class="bottom"></span>
                        </div>
                    </div>
                </div>
                <div class="center sliding">レーティング情報</div>
                <div class="right">
                    <a href="#" class="link icon-only open-panel" data-panel="right">
                        <span class="kkicon icon-star"></span>
                    </a>
                </div>
            </div>
        </div>

        <div class="pages navbar-fixed toolbar-fixed">
            <div data-page="charts" class="page">

                <div class="page-content">
                    <div class="content-wew">

                        <!--<div class="content-block-title">
                            Line Chart
                        </div>

                        <div class="chart-row">
                            <div>
                                <canvas class="line-chart-content" width="300" height="150"></canvas>
                            </div>
                        </div>-->

                        <!--<div class="content-block-title">
                            Bar Chart
                        </div>

                        <div class="chart-row">
                            <div>
                                <canvas class="bar-chart-content" width="300" height="150"></canvas>
                            </div>
                        </div>-->

                        <!--<div class="content-block-title">
                            Pie Chart
                        </div>

                        <div class="chart-row">
                            <div>
                                <canvas class="pie-chart-content" width="300" height="150"></canvas>
                            </div>
                        </div>-->

                        <!--<div class="content-block-title">
                            Doughnut Chart
                        </div>

                        <div class="chart-row">
                            <div>
                                <canvas class="doughnut-chart-content" width="300" height="150"></canvas>
                            </div>
                        </div>-->

                        <div class="content-block content-light">
                            <div class="content-wew">
                                <!--<h3 class="header-2"><span>パフォーマンス</span></h3>-->
                                <p class="performance_city_name">{{ trg_region_sum_info.region.city.city_name }}</p>
                                <p class="performance_prefecture_name">{{ trg_region_sum_info.region.prefecture.prefecture_name }}</p>

                                <div class="ROI">
                                    <!--期待利回り（転貸時）：{{roi1}}％<br />-->
                                    {{ranking_last_month}}月の利回り：{{roi2}}％<br />
                                </div>

                                <div class="general_rating_div">総合レーティング （{{general_rating}}点）
                                    <div class="star-ratings-css">
                                        <div class="star-ratings-css-top" style="width: {{general_rating_for_star}}%"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                                        <div class="star-ratings-css-bottom"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                                    </div>
                                </div>

                                <a href="{% url 'properties' region_id=trg_region_sum_info.region.prefecture.id region_city_id=trg_region_sum_info.region_id %}" class="item-link item-content">
                                    <div class="item-inner">
                                        <div class="item-title-row">
                                            <div class="item-title">
                                                {{ trg_region_sum_info.region.city.city_name }}周辺の物件一覧
                                            </div>
                                        </div>
                                        <div class="item-subtitle">
                                            <!--3 columns layout-->
                                        </div>
                                    </div>
                                </a>

                                <div class="rating-table-row">
                                    <div>
                                        <table>
                                            <caption></caption>
                                            <tbody>
                                                <tr>
                                                    <th>月間宿泊売上</th>
                                                    <td>{{trg_region_sum_info.monthly_sales| intcomma}} 円／月</td>
                                                </tr>
                                                <tr>
                                                    <th>平均地価</th>
                                                    <td>{{trg_priceofland| intcomma}} 円／平米</td>
                                                </tr>
                                                <tr>
                                                    <th>訪問客増減（{{trg_region_sum_info.region.prefecture.prefecture_name}}）</th>
                                                    <td>{{trg_diff_guest_count| intcomma}} 人（前年比）</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>


                                <h3 class="header-2"><span>売上詳細（{{trg_region_sum_info.region.city.city_name}}）</span></h3>

                                <h4>平均宿泊価格</h4>
                                <div class="rating-table-row">
                                    <div>
                                        <table>
                                            <caption></caption>
                                            <tbody>
                                                <tr>
                                                    <th>平均宿泊価格</th>
                                                    <td>{{trg_region_sum_info.average_price| intcomma}} 円／泊</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <h4>部屋サイズ別の月間売上</h4>
                                <div class="rating-table-row">
                                    <div>
                                        <table>
                                            <caption></caption>
                                            <tbody>
                                                <tr>
                                                    <th>1人</th>
                                                    <td>{{trg_capacity_info_I.average_sales| intcomma}} 円／月</td>
                                                </tr>
                                                <tr>
                                                    <th>2 ~ 3人</th>
                                                    <td>{{trg_capacity_info_II.average_sales| intcomma}} 円／月</td>
                                                </tr>
                                                <tr>
                                                    <th>4 ~ 5人</th>
                                                    <td>{{trg_capacity_info_III.average_sales| intcomma}} 円／月</td>
                                                </tr>
                                                <tr>
                                                    <th>6人以上</th>
                                                    <td>{{trg_capacity_info_IV.average_sales| intcomma}} 円／月</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <h4>部屋サイズ内訳</h4>
                                <div class="chart-row col-50">
                                    <div>
                                        <canvas id="capacity_count" class="capacity_count" width="300" height="210"></canvas>

                                        <!-- パイチャート表示部分 -->
                                        <script>
                                            console.log('***DEBUG***');
                                            console.log(document);
                                            var ctx = document.getElementById('capacity_count').getContext('2d');
                                            var mychart =  new Chart(ctx, {
                                                type: 'pie',
                                                data: {
                                                    labels: ['1人', '2 ~ 3人', '4 ~ 5人', '6人以上'],
                                                    datasets: [{
                                                        label: '部屋タイプ内訳',
                                                        data: [{{trg_capacity_info_I.listing_count}}, {{trg_capacity_info_II.listing_count}}, {{trg_capacity_info_III.listing_count}}, {{trg_capacity_info_IV.listing_count}}],
                                                        backgroundColor: ["rgba(230,27,46,0.6)", "rgba(238,116,28,0.6)", "rgba(238,229,28,0.6)", "rgba(52,199,23,0.6)" ]
                                                    }]
                                                },
                                                options: {
                                                    legend: {
                                                        display: true,
                                                    },
                                                    scale: {
                                                        xAxes: [{
                                                            ticks: {
                                                                beginAtZero: true,
                                                                max: 5,
                                                            }
                                                        }]
                                                    }
                                                    //scaleShowLine: true,
                                                    //scaleOverride: true,
                                                    //scaleSteps: 10,
                                                    //scaleStepWidth: 1,
                                                    //scaleStartValue: 0
                                                }
                                            });

                                        </script>
                                    </div>
                                </div>

                                <h4>ゲスト数推移（{{trg_region_sum_info.region.prefecture.prefecture_name}}）</h4>
                                <div class="chart-row col-50">
                                    <div>
                                        <canvas id="guest_legend" class="guest_legend" width="300" height="210"></canvas>

                                        <!-- ラインチャート表示部分 -->
                                        <script>
                                            console.log('***DEBUG***');
                                            console.log(document);
                                            var ctx = document.getElementById('guest_legend').getContext('2d');
                                            var mychart =  new Chart(ctx, {
                                                type: 'line',
                                                data: {
                                                    labels: ['{{gest_legend_I.year}}/{{guest_legend_I.month}}', '{{guest_legend_II.year}}/{{guest_legend_II.month}}', '{{guest_legend_III.year}}/{{guest_legend_III.month}}', '{{guest_legend_IV.year}}/{{guest_legend_IV.month}}', '{{guest_legend_V.year}}/{{guest_legend_V.month}}', '{{guest_legend_VI.year}}/{{guest_legend_VI.month}}', '{{guest_legend_VII.year}}/{{guest_legend_VII.month}}','{{guest_legend_VIII.year}}/{{guest_legend_VIII.month}}', '{{guest_legend_IX.year}}/{{guest_legend_IX.month}}', '{{guest_legend_X.year}}/{{guest_legend_X.month}}', '{{guest_legend_XI.year}}/{{guest_legend_XI.month}}', '{{guest_legend_XII.year}}/{{guest_legend_XII.month}}'],
                                                    datasets: [{
                                                        label: 'ゲスト数',
                                                        data: [{{guest_legend_I.guest_count}}, {{guest_legend_II.guest_count}}, {{guest_legend_III.guest_count}}, {{guest_legend_IV.guest_count}}, {{guest_legend_V.guest_count}}, {{guest_legend_VI.guest_count}}, {{guest_legend_VII.guest_count}}, {{guest_legend_VIII.guest_count}}, {{guest_legend_IX.guest_count}}, {{guest_legend_X.guest_count}}, {{guest_legend_XI.guest_count}}, {{guest_legend_XII.guest_count}}],
                                                        backgroundColor: ["rgba(52,199,23,0.6)"]
                                                    }]
                                                },
                                                borderColor: ["rgba(52,199,23,0.6)"],
                                                pointBackgroundColor: ["rgba(52,199,23,0.6)"],
                                                fill: false,
                                                options: {
                                                    legend: {
                                                        display: false,
                                                    },
                                                    scale: {
                                                        yAxes: [{
                                                            ticks: {
                                                                beginAtZero: true,
                                                            }
                                                        }]
                                                    }
                                                    //scaleShowLine: true,
                                                    //scaleOverride: true,
                                                    //scaleSteps: 10,
                                                    //scaleStepWidth: 1,
                                                    //scaleStartValue: 0
                                                }
                                            });

                                        </script>

                                    </div>
                                </div>

                                <h3 class="header-2"><span>コスト（{{trg_region_sum_info.region.prefecture.prefecture_name}}）</span></h3>

                                <div class="rating-table-row">
                                    <div>
                                        <table>
                                            <caption></caption>
                                            <tbody>
                                                <tr>
                                                    <th>家賃</th>
                                                    <td>{{trg_rent| intcomma}} 円</td>
                                                </tr>
                                                <tr>
                                                    <th>リフォーム業者報酬</th>
                                                    <td>{{trg_reform_fee| intcomma}} 円</td>
                                                </tr>
                                                <tr>
                                                    <th>塗装業者報酬</th>
                                                    <td>{{trg_repainting_fee| intcomma}} 円</td>
                                                </tr>
                                                <tr>
                                                    <th>トイレリフォーム費用</th>
                                                    <td>{{trg_restroom_facility_cost| intcomma}} 円</td>
                                                </tr>
                                                <tr>
                                                    <th>お風呂リフォーム費用</th>
                                                    <td>{{trg_bathroom_facility_cost| intcomma}} 円</td>
                                                </tr>
                                                <tr>
                                                    <th>キッチンリフォーム費用</th>
                                                    <td>{{trg_kitchen_facility_cost| intcomma}} 円</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <h3 class="header-2"><span>ランキング（{{ranking_last_month}}月）</span></h3>

                                <div class="rating-table-row">
                                    <div>
                                        <table>
                                            <caption></caption>
                                            <tbody>
                                                <tr>
                                                    <th>売上順位</th>
                                                    <td>{{ranking_info.monthly_sales_rank| intcomma}} 位</td>
                                                </tr>
                                                <tr>
                                                    <th>宿泊価格順位</th>
                                                    <td>{{ranking_info.average_price_rank| intcomma}} 位</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <h3 class="header-2"><span>リスティング数推移</span></h3>
                                <div class="chart-row col-50">
                                    <div>
                                        <canvas id="total_listing_legend" class="total_listing_legend" width="300" height="210"></canvas>

                                        <!-- ラインチャート表示部分 -->
                                        <script>
                                            console.log('***DEBUG***');
                                            console.log(document);
                                            var ctx = document.getElementById('total_listing_legend').getContext('2d');
                                            var mychart =  new Chart(ctx, {
                                                type: 'line',
                                                data: {
                                                    labels: ['{{listing_legend_I.year}}/{{listing_legend_I.month}}', '{{listing_legend_II.year}}/{{listing_legend_II.month}}', '{{listing_legend_III.year}}/{{listing_legend_III.month}}', '{{listing_legend_IV.year}}/{{listing_legend_IV.month}}', '{{listing_legend_V.year}}/{{listing_legend_V.month}}', '{{listing_legend_VI.year}}/{{listing_legend_VI.month}}', '{{listing_legend_VII.year}}/{{listing_legend_VII.month}}','{{listing_legend_VIII.year}}/{{listing_legend_VIII.month}}', '{{listing_legend_IX.year}}/{{listing_legend_IX.month}}', '{{listing_legend_X.year}}/{{listing_legend_X.month}}', '{{listing_legend_XI.year}}/{{listing_legend_XI.month}}', '{{listing_legend_XII.year}}/{{listing_legend_XII.month}}'],
                                                    datasets: [{
                                                        label: 'リスティング数',
                                                        data: [{{listing_legend_I.total_listing}}, {{listing_legend_II.total_listing}}, {{listing_legend_III.total_listing}}, {{listing_legend_IV.total_listing}}, {{listing_legend_V.total_listing}}, {{listing_legend_VI.total_listing}}, {{listing_legend_VII.total_listing}}, {{listing_legend_VIII.total_listing}}, {{listing_legend_IX.total_listing}}, {{listing_legend_X.total_listing}}, {{listing_legend_XI.total_listing}}, {{listing_legend_XII.total_listing}}],
                                                        backgroundColor: ["rgba(52,199,23,0.6)"]
                                                    }]
                                                },
                                                borderColor: ["rgba(52,199,23,0.6)"],
                                                pointBackgroundColor: ["rgba(52,199,23,0.6)"],
                                                fill: false,
                                                options: {
                                                    legend: {
                                                        display: false,
                                                    },
                                                    scale: {
                                                        yAxes: [{
                                                            ticks: {
                                                                beginAtZero: true,
                                                            }
                                                        }]
                                                    }
                                                    //scaleShowLine: true,
                                                    //scaleOverride: true,
                                                    //scaleSteps: 10,
                                                    //scaleStepWidth: 1,
                                                    //scaleStartValue: 0
                                                }
                                            });

                                        </script>

                                    </div>
                                </div>

                                <h3 class="header-2"><span>{{trg_region_sum_info.region.prefecture.prefecture_name}}の特徴</span></h3>
                                <h4>観光資源</h4>
                                <p>{{ trg_region_sum_info.region.prefecture.prefecture_name }}の主な観光地は以下の通りです。</p>
                                {% for scr in trg_tourresource %}
                                    {{forloop.counter}}位 <a href="https://www.google.co.jp/maps/place/{{scr.scr_name}}/">{{scr.scr_name}}</a><br />
                                {%endfor%}

                                <h4>旅行客の国籍</h4>
                                <p>{{ trg_region_sum_info.region.prefecture.prefecture_name }}を訪れる外国人観光客の順位は以下の通りです。</p>
                                <p>
                                      １位　{{trg_guestnationality_info_I.nationality.nationality_name}}国籍<br />
                                      ２位　{{trg_guestnationality_info_II.nationality.nationality_name}}国籍<br />
                                      ３位　{{trg_guestnationality_info_III.nationality.nationality_name}}国籍<br /><br />
                                </p>
                                <p>外国人観光客の内訳は以下の通りです。</p>

                                <div class="chart-row col-50">
                                    <div>
                                        <canvas id="guestnationality" class="guestnationality" width="300" height="210"></canvas>

                                        <!-- パイチャート表示部分 -->
                                        <script>
                                            console.log('***DEBUG***');
                                            console.log(document);
                                            var ctx = document.getElementById('guestnationality').getContext('2d');
                                            var mychart =  new Chart(ctx, {
                                                type: 'pie',
                                                data: {
                                                    labels: ['{{trg_guestnationality_info_I.nationality.nationality_name}}', '{{trg_guestnationality_info_II.nationality.nationality_name}}', '{{trg_guestnationality_info_III.nationality.nationality_name}}', '{{trg_guestnationality_info_IV.nationality.nationality_name}}', '{{trg_guestnationality_info_V.nationality.nationality_name}}', '{{trg_guestnationality_info_VI.nationality.nationality_name}}', '{{trg_guestnationality_info_VII.nationality.nationality_name}}'],
                                                    datasets: [{
                                                        label: '観光客国籍',
                                                        data: [{{trg_guestnationality_info_I.answer_count}}, {{trg_guestnationality_info_II.answer_count}}, {{trg_guestnationality_info_III.answer_count}}, {{trg_guestnationality_info_IV.answer_count}}, {{trg_guestnationality_info_V.answer_count}}, {{trg_guestnationality_info_VI.answer_count}}, {{trg_guestnationality_info_VII.answer_count}}],
                                                        backgroundColor: ["rgba(230,27,46,0.6)", "rgba(238,116,28,0.6)", "rgba(238,229,28,0.6)", "rgba(52,199,23,0.6)", "rgba(32,75,159,0.6)", "rgba(137,21,157,0.6)" ]
                                                    }]
                                                },
                                                options: {
                                                    legend: {
                                                        display: true,
                                                    },
                                                    scale: {
                                                        xAxes: [{
                                                            ticks: {
                                                                beginAtZero: true,
                                                                max: 5,
                                                            }
                                                        }]
                                                    }
                                                    //scaleShowLine: true,
                                                    //scaleOverride: true,
                                                    //scaleSteps: 10,
                                                    //scaleStepWidth: 1,
                                                    //scaleStartValue: 0
                                                }
                                            });

                                        </script>
                                    </div>
                                </div>


                                <!--<div class="content-block mb-15">
                                    <h3>利回りシミュレーション</h3>

                                    <div class="buttons-row">
                                        <a href="#tab1-1" class="tab-link active button button-primary">アパート経営</a>
                                        <a href="#tab2-1" class="tab-link button button-primary">転貸物件民泊</a>
                                        <a href="#tab3-1" class="tab-link button button-primary">購入物件民泊</a>
                                    </div>
                                </div>

                                <div class="tabs">
                                    <div id="tab1-1" class="tab active">
                                        <div class="content-block mt-15">
                                            <p>アパート経営</p>
                                            <p>Duis ac nibh ac quam quam sagittis tortor. Cum sociis natoque penatibus et neque. Etiam dolor. Vivamus consectetuer adipiscing elit. Nunc vehicula. Integer condimentum sed, luctus diam. </p>
                                        </div>
                                    </div>

                                    <div id="tab2-1" class="tab">
                                        <div class="content-block mt-15">
                                            <p>転貸物件で民泊経営</p>
                                            <p>Fusce gravida, eros magna dolor, dictum sed, ullamcorper et, nonummy faucibus condimentum lorem id rutrum consectetuer lectus. Fusce ullamcorper libero vel blandit non, placerat nisl auctor quis.</p>
                                        </div>
                                    </div>

                                    <div id="tab3-1" class="tab">
                                        <div class="content-block mt-15">
                                            <p>購入物件で民泊経営</p>
                                            <p>Fusce gravida, eros magna dolor, dictum sed, ullamcorper et, nonummy faucibus condimentum lorem id rutrum consectetuer lectus. Fusce ullamcorper libero vel blandit non, placerat nisl auctor quis.</p>
                                        </div>
                                    </div>

                                </div>-->

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}