{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="views">
    <div class="view view-main">

        <div class="navbar navbar-clear anim-navbar">
            <div class="navbar-inner">
                <div class="left">
                    <!--<a href="#" class="link icon-only open-panel">
                        <span class="kkicon icon-menu"></span>
                    </a>-->
                    <div class="left-panel-gnav-btn">
                        <div class="left-panel-icon-animation">
                            <span class="top"></span>
                            <span class="middle"></span>
                            <span class="bottom"></span>
                        </div>
                    </div>
                </div>
                <div class="center sliding">
                    <span class="anim-logo-small" style="opacity: 0">SCReal</span>
                </div>
                <div class="right">
                    <a href="#" class="link icon-only open-panel" data-panel="right">
                        <!--<span class="badge badge-secondary">2</span>-->
                        <span class="kkicon icon-star"></span>
                    </a>
                </div>
            </div>
        </div>

        <div class="pages navbar-fixed toolbar-fixed ">
            <div data-page="index" class="page">
                <div class="page-content navbar-fix">
                    <div class="full-page-image full-page-video play-bg-video">
                        <div class="logo">
                            <img src="{% static '/ac_site/assets/img/screal_logo_blk.svg' %}" alt="" />
                        </div>

                        <div class="desc content-padding">
                            <!--<strong class="text-bg text-bg-green">民泊の物件選びはAIにお任せ！！</strong>-->
                            <!-- <div class="mt-5 text-bg">
                                気になる地域のレーティングを見てみよう！！
                            </div>-->
                            <strong class="text-no-bg">民泊調査はAIにおまかせ！！</strong><br/>
                            <strong class="text-no-bg-small">AIがオススメの民泊地域を教えます</strong>
                        </div>
                        <div class="row content-padding">
                            <div class="col-30" max-width="300xp">
                                <a href="{% url 'prefectures' %}" class="button button-fill button-primary">調べる</a>
                            </div>
                            <div class="col-50">
                                <a href="{% url 'ranking' %}" class="button button-fill button-secondary">ランキング</a>
                            </div>
                        </div>

                        <span class="kkicon icon-chevron-down scroll-down"></span>
                    </div>

                    <div class="content-block mb-15">
                        <div class="content-wew">
                            <h2 class="header-1 mb-0"><span>AIでスマート民泊</span></h2>
                            <h3 class="sub-header mt-0">リアルタイム民泊情報<br/>
                                                        ＋<br/>
                                                        マクロ情報<br/>
                                                        で各地をレーティング</h3>
                            <span class="hr-1"></span>

                            <!-- <div class="tweet"></div>-->
                        </div>
                    </div>

                    <!--<div class="owl-carousel">
                        <div>
                            <strong class="carousel-text text-bg text-bg-green">Some slide text 1</strong>
                            <img src="assets/img/tmp/temp_1.png" alt="">
                        </div>
                        <div>
                            <strong class="carousel-text text-bg text-bg-green">Some slide text 2</strong>
                            <img src="assets/img/tmp/temp_2.png" alt="">
                        </div>
                        <div>
                            <strong class="carousel-text text-bg text-bg-green">Some slide text 3</strong>
                            <img src="assets/img/tmp/temp_3.png" alt="">
                        </div>
                    </div>-->
                    <div class="content-block">
                        <div class="content-wew">
                            <p>
                                稼働している民泊物件の情報、観光情報などをもとに、AIが全国の地域の民泊最適度をレーティングします。特定の国籍の方に特化した民泊の展開や、季節限定の民泊など従来とは違った民泊の運営を目指される方を強力にサポートします。
                            </p>
                        </div>
                    </div>

                    {% include 'partials/_usage.html' %}

                    {% include 'partials/_members.html' %}

                    {% include 'partials/_company_info.html' %}

                    {% include 'partials/_social_media_links.html' %}
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}