{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block content %}
<div class="views">
    <div class="view view-main">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="left">
                    <!--<a href="#" class="link icon-only open-panel">
                        <span class="kkicon icon-menu"></span>
                    </a>-->
                    <div class="left-panel-gnav-btn">
                        <div class="left-panel-icon-animation">
                            <span class="top"></span>
                            <span class="middle"></span>
                            <span class="bottom"></span>
                        </div>
                    </div>
                </div>
                <div class="center sliding">{{trg_region_sum_info.region.city.city_name}} 物件一覧</div>
                <div class="right">
                    <a href="#" class="link icon-only open-panel" data-panel="right">
                        <span class="kkicon icon-star"></span>
                    </a>
                </div>
            </div>
        </div>

        <div class="view another-view">
            <!-- Pages -->
            <div class="pages">
                <div class="page pages navbar-fixed toolbar-fixed" data-page="shop-home-1">
                    <div class="page-content">
                        <div class="content-wew">
                            <div class="content-block content-light">

                                <div class="featured-articles-slider featured-shop">
                                    <div>
                                        <div class="article-title">
                                            <span class="badge badge-third">おすすめ</span>
                                            <!--<span class="badge badge-primary">Sell</span>-->
                                            <h2><a href="{% url 'property_show' region_id=trg_region_sum_info.region.prefecture.id region_city_id=trg_region_sum_info.region_id property_id=000 %}">物件タイトル</a></h2>
                                            <div class="shop-data">
                                                <!--<span class="shop-price-discount">
                                                    $250
                                                </span>-->
                                                <span class="shop-price">
                                                    10万円／月
                                                </span>
                                                <span class="data">
                                                    <span>300 likes</span>
                                                    <span>23 reviews</span>
                                                </span>
                                            </div>
                                        </div>
                                        <img src="{% static 'ac_site/assets/img/sample/bedroom_sample-0.jpg' %}" alt="">
                                    </div>
                                    <!--<div>
                                        <div class="article-title">
                                            <span class="badge badge-third">Bestseller</span>
                                            <h2><a href="shop-product-1.html">MAX Shirt</a></h2>
                                            <div class="shop-data">
                                                <span class="shop-price">
                                                    $50
                                                </span>
                                                <span class="data">
                                                    <span>450 likes</span>
                                                    <span>34 reviews</span>
                                                </span>
                                            </div>
                                        </div>
                                        <img src="assets/img/tmp/shop/shop-11.jpg" alt="">
                                    </div>-->
                                </div>

                                <!--<div class="content-block-title mt-10">Selected for you:</div>-->
                                <!--<div class="featured-category">
                                    <div class="row no-gutter">
                                        <a href="#" class="col-50">
                                            <div class="name">jeans</div>
                                            <img src="assets/img/tmp/shop/shop-2.jpg" alt="">
                                        </a>
                                        <a href="#" class="col-50">
                                            <div class="name">shoes</div>
                                            <img src="assets/img/tmp/shop/shop-6.jpg" alt="">
                                        </a>
                                    </div>
                                </div>-->

                                <div class="page-content padding-0">
                                    <div class="content-wew">
                                        <h2 class="header-2 mt-30 mb-30">
                                            <span>新着物件</span>
                                        </h2>
                                    </div>
                                </div>

                                <div class="content-wew">
                                    <div class="content-block mt-0">

                                        <div class="row shop-items-list">

                                            <a href="{% url 'property_show' region_id=trg_region_sum_info.region.prefecture.id region_city_id=trg_region_sum_info.region_id property_id=000 %}"  class="col-100 tablet-90">
                                                <img src="{% static '/ac_site/assets/img/sample/bedroom_sample-1.jpg' %}" alt="">

                                                <span class="name">
                                                    おしゃれな一人部屋<br />
                                                    木造／新築／建物32.33平米<br />
                                                    XXX県XXXX市XXX区１−２−３<br />
                                                    期待利回り：4％<br />
                                                </span>

                                                <span class="price-data">
                                                    <!--<span class="shop-price-discount">$25</span>-->
                                                    <span class="shop-price">5,600,000円</span>
                                                </span>

                                                <span class="add-to-cart-button">詳細</span>
                                            </a>

                                            <a href="{% url 'property_show' region_id=trg_region_sum_info.region.prefecture.id region_city_id=trg_region_sum_info.region_id property_id=000 %}" class="col-100 tablet-90">
                                                <img src="{% static '/ac_site/assets/img/sample/bedroom_sample-3.jpg' %}" alt="">

                                                <span class="name">
                                                  綺麗なカントリーハウス<br />
                                                  木造／新築／建物32.33平米<br />
                                                  XXX県XXXX市XXX区１−２−３<br />
                                                  期待利回り：4％<br />
                                                </span>

                                                <span class="price-data">
                                                    <span class="shop-price-discount">7,000,000円</span>
                                                    <span class="shop-price">5,000,000円</span>
                                                </span>

                                                <span class="add-to-cart-button">詳細</span>
                                            </a>

                                            <a href="{% url 'property_show' region_id=trg_region_sum_info.region.prefecture.id region_city_id=trg_region_sum_info.region_id property_id=000 %}" class="col-100 tablet-90">
                                                <img src="{% static '/ac_site/assets/img/sample/bedroom_sample-2.jpg' %}" alt="">

                                                <span class="name">
                                                    高級ログハウス<br />
                                                    木造／新築／建物50.33平米<br />
                                                    XXX県XXXX市XXX区１−２−３<br />
                                                    期待利回り：7％<br />
                                                </span>

                                                <span class="price-data">
                                                    <span class="shop-price-discount">3,000,000円</span>
                                                    <span class="shop-price">2,500,000円</span>
                                                </span>

                                                <span class="add-to-cart-button">詳細</span>
                                            </a>

                                            <!--<a href="shop-product-1.html" class="col-50 tablet-33">
                                                <img src="assets/img/tmp/shop/shop-6.jpg" alt="">

                                                <span class="name">Shoes</span>

                                                <span class="price-data">
                                                    <span class="shop-price-discount">$25</span>
                                                    <span class="shop-price">$20</span>
                                                </span>

                                                <span class="add-to-cart-button">Add to cart</span>
                                            </a>

                                            <a href="shop-product-1.html" class="col-50 tablet-33">
                                                <img src="assets/img/tmp/shop/shop-7.jpg" alt="">

                                                <span class="name">Jacket</span>

                                                <span class="price-data">
                                                    <span class="shop-price-discount">$25</span>
                                                    <span class="shop-price">$20</span>
                                                </span>

                                                <span class="add-to-cart-button">Add to cart</span>
                                            </a>

                                            <a href="shop-product-1.html" class="col-50 tablet-33">
                                                <img src="assets/img/tmp/shop/shop-8.jpg" alt="">

                                                <span class="name">Tie</span>

                                                <span class="price-data">
                                                    <span class="shop-price-discount">$25</span>
                                                    <span class="shop-price">$20</span>
                                                </span>

                                                <span class="add-to-cart-button">Add to cart</span>
                                            </a>

                                            <a href="shop-product-1.html" class="col-50 tablet-33">
                                                <img src="assets/img/tmp/shop/shop-9.jpg" alt="">

                                                <span class="name">Dress</span>

                                                <span class="price-data">
                                                    <span class="shop-price-discount">$25</span>
                                                    <span class="shop-price">$20</span>
                                                </span>

                                                <span class="add-to-cart-button">Add to cart</span>
                                            </a>

                                            <a href="shop-product-1.html" class="col-50 tablet-33">
                                                <img src="assets/img/tmp/shop/shop-10.jpg" alt="">

                                                <span class="name">Jeans</span>

                                                <span class="price-data">
                                                    <span class="shop-price-discount">$25</span>
                                                    <span class="shop-price">$20</span>
                                                </span>

                                                <span class="add-to-cart-button">Add to cart</span>
                                            </a>

                                            <a href="shop-product-1.html" class="col-50 tablet-33">
                                                <img src="assets/img/tmp/shop/shop-11.jpg" alt="">

                                                <span class="name">Shirt</span>

                                                <span class="price-data">
                                                    <span class="shop-price-discount">$25</span>
                                                    <span class="shop-price">$20</span>
                                                </span>

                                                <span class="add-to-cart-button">Add to cart</span>
                                            </a>

                                            <a href="shop-product-1.html" class="col-50 tablet-33">
                                                <img src="assets/img/tmp/shop/shop-12.jpg" alt="">

                                                <span class="name">Jacket</span>

                                                <span class="price-data">
                                                    <span class="shop-price-discount">$25</span>
                                                    <span class="shop-price">$20</span>
                                                </span>

                                                <span class="add-to-cart-button">Add to cart</span>
                                            </a>-->

                                        </div>

                                        <!--<a href="#" class="button button-primary button-clear mt-10 mb-20">GET MORE</a>-->

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
