{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="views">
    <div class="view view-main">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="left">
                    <!--<a href="#" class="link icon-only open-panel">
                        <span class="kkicon icon-menu"></span>
                    </a>-->
                    <div class="left-panel-gnav-btn">
                        <div class="left-panel-icon-animation">
                            <span class="top"></span>
                            <span class="middle"></span>
                            <span class="bottom"></span>
                        </div>
                    </div>
                </div>
                <div class="center sliding">民泊地域ランキング</div>
                <div class="right">
                    <!--<a href="#" class="link icon-only open-panel" data-panel="right">
                        <span class="badge badge-secondary">2</span>
                        <span class="kkicon icon-star"></span>
                    </a>-->
                    <div class="right-panel-gnav-btn">
                          <span class="kkicon icon-star"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="view another-view">
            <!-- Pages -->
            <div class="pages">
                <div class="page no-toolbar" data-page="features">
                    <div class="page-content">

                        <div class="list-block media-list">
                            <ul>

                                <!--<li>
                                    <a href="#" data-popup=".popup-splash" class="open-popup item-link item-content">
                                        <div class="item-media">
                                            <div class="card-header no-border item-content-icon item-content-icon-slider"></div>
                                        </div>
                                        <div class="item-inner">
                                            <div class="item-title-row">
                                                <div class="item-title">
                                                    App update info
                                                </div>
                                            </div>
                                            <div class="item-subtitle">
                                                Cool app update slider!
                                            </div>
                                        </div>
                                    </a>
                                </li>-->
                                <ul class="tab">
                                    <li class="select toggle">掲載数</li>
                                    <li class="toggle">価格</li>
                                    <li class="toggle">売上高</li>
                                </ul>
                                <ul class="content">
                                    <div class="toggle">
                                        {% for p in total_listing_ranking %}
                                            <li>
                                                <a href="{% url 'city_show' region_id=p.region.prefecture.id region_city_id=p.region_id %}" class="item-link item-content">
                                                    <!--<div class="item-media">
                                                        <div class="card-header no-border item-content-icon item-content-icon-gallery"></div>
                                                    </div>-->
                                                    <div class="itm-media">
                                                        {{ forloop.counter }}
                                                    </div>
                                                    <div class="item-inner">
                                                        <div class="item-title-row">
                                                            <div class="item-title">
                                                                {{ p.region.city.city_name }}
                                                            </div>
                                                        </div>
                                                        <div class="item-subtitle">
                                                            <!--3 columns layout-->
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </div>
                                    <div class="toggle hide">
                                        {% for q in average_price_ranking %}
                                            <li>
                                                <a href="{% url 'city_show'  region_id=q.region.prefecture.id region_city_id=q.region_id %}" class="item-link item-content">
                                                    <div class="item-media">
                                                        <!--<div class="card-header no-border item-content-icon item-content-icon-gallery"></div>-->
                                                        {{ forloop.counter }}
                                                    </div>
                                                    <div class="item-inner">
                                                        <div class="item-title-row">
                                                            <div class="item-title">
                                                                {{ q.region.city.city_name }}
                                                            </div>
                                                        </div>
                                                        <div class="item-subtitle">
                                                            <!--3 columns layout-->
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </div>
                                    <div class="toggle hide">
                                        {% for r in monthly_sales_ranking %}
                                            <li>
                                                <a href="{% url 'city_show' region_id=r.region.prefecture.id region_city_id=r.region_id %}" class="item-link item-content">
                                                    <div class="item-media">
                                                        <!--<div class="card-header no-border item-content-icon item-content-icon-gallery"></div>-->
                                                        {{ forloop.counter }}
                                                    </div>
                                                    <div class="item-inner">
                                                        <div class="item-title-row">
                                                            <div class="item-title">
                                                                {{ r.region.city.city_name }}
                                                            </div>
                                                        </div>
                                                        <div class="item-subtitle">
                                                            <!--3 columns layout-->
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </div>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
